<div class="content-container" *ngIf='selectedBook'>
    <div class="row">
        <div class="book-img">
            <img [src]="selectedBook.image" alt="Photo of a book" />
        </div>

        <div class="title">
            <h2>{{selectedBook.title}}</h2>
        </div>
        <div class="sub-title">
            <p>Author : {{selectedBook.author}}</p>

            <p>
                Price : {{selectedBook.price | currency: 'INR':true}}
            </p>

            <p>
                Number Of Pages : {{selectedBook.pages}}
            </p>

        </div>
        <div class="description">
            <article> {{selectedBook.description}}</article>
        </div>

        <div class="cartBtn">
            <button mat-raised-button>
                <mat-icon>add_shopping_cart</mat-icon>
                ADD TO CART
            </button>
        </div>
    </div>




</div>