<mat-toolbar>
    <mat-toolbar-row>

        <div class="app-title">

            <span>S</span>IGNZY <span>K</span>INDLE
        </div>
        <span class="toolbar-spacer"></span>

        <span class="line-separator"></span>
        <mat-icon class="user-icon" svgIcon="user"></mat-icon>
        <div class="account-container">
            <div class="user-name">
                <div>{{user?.name}}</div>
            </div>

        </div>
        <mat-icon class="expand-more-icon" [matMenuTriggerFor]="beforeMenu">settings</mat-icon>

        <mat-icon id="cart-icon">add_shopping_cart</mat-icon><span>Cart</span>


        <mat-menu class="toolbar-user-menu" #beforeMenu="matMenu" xPosition="before">
            <div class="logout-container">
                <div class="user-email">
                    {{user?.name}}
                </div>
                <hr align="center" width="90%" />
                <div class="logout-action" (click)="signOut()">
                    Signout
                </div>
            </div>
        </mat-menu>



    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>